<div class="content-wrapper overflow-auto">
    {{>dashboard/content-header}}
    
    <section class="content">
        <div class="container-fluid">
            {{#if error}}
                <div class="alert alert-danger">{{error}}</div>  
            {{/if}}
            <div class="card">
                <div class="card-body">
                    <form action="/dashboard/security/updatePassword" method="post">
                        <div class="row gy-3">
                            <div class="col-12">
                                <label for="currentPassword" class="form-label fw-normal">Joriy parolni kiriting</label>
                                <input name="currentPassword" type="password" class="form-control" id="currentPassword" placeholder="Joriy parol">
                            </div>
                            <div class="col-12">
                                <label for="newPassword" class="form-label fw-normal">Yangi parolni kiriting</label>
                                <input name="newPassword" type="password" class="form-control" id="newPassword" placeholder="Yangi parol">
                            </div>
                            <div class="col-12">
                                <label for="newPassword2" class="form-label fw-normal">Yangi parolni tasdiqlang</label>
                                <input name="newPassword2" type="password" class="form-control" id="newPassword2" placeholder="Yangi parol">
                            </div>
                            <div class="col-12 mt-4">
                                <button type="submit" class="btn filled-button">Saqlash</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>