<html lang="en">
{{>dashboard/head}}

<body id="body" class="sidebar-mini">
	<div class="wrapper">
		{{>dashboard/main-header}}

		{{>dashboard/main-sidebar}}

		{{{body}}}
	</div>

	{{>dashboard/scripts}}
</body>
</html>