<div class="more-info about-info">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="more-info-content">
                    <div class="row flex-column-reverse flex-md-row">
                        <div class="col-md-6 align-self-center">
                            <div class="right-content">
                                <span class="fs-6 mt-4 mt-md-0">Biz haqimizda qisqacha</span>
                                <h2 class="fs-1">Maktabimiz tarixi bilan <em>tanishib chiqing</em></h2>
                                <p class="text-style">Fusce nec ultrices lectus. Duis nec scelerisque risus. Ut id tempor turpis, ac
                                    dignissim ipsum. Nulla ullamcorper, ipsum vel condimentum congue, mi odio vehicula
                                    tellus, sit amet malesuada justo sem.
                                    <br><br>Pellentesque in sagittis lacus, vel auctor sem. Quisque eu quam eleifend,
                                    ullamcorper dui nec, luctus quam.
                                </p>
                                <a href="" class="filled-button">Ko'proq o'qish</a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="left-image">
                                <img class="img-fluid" src="assets/images/more-info.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="team">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2 class="fs-1">Jamoamiz <em>a'zolari</em></h2>
                    <span class="fs-6">Faxrli o'qituvchilarimiz va ahil jamoamiz</span>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                <div class="team-item">
                    <img src="assets/images/team_01.jpg" alt="">
                    <div class="down-content">
                        <h4 class="fs-4">William Smith</h4>
                        <span class="fs-6">Co-Founder</span>
                        <p class="text-style">In sem sem, dapibus non lacus auctor, ornare sollicitudin lacus. Aliquam ipsum urna, semper quis.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-5 mb-md-0">
                <div class="team-item">
                    <img src="assets/images/team_02.jpg" alt="">
                    <div class="down-content">
                        <h4 class="fs-4">Mary Houston</h4>
                        <span class="fs-6">Chief Marketing Officer</span>
                        <p class="text-style">In sem sem, dapibus non lacus auctor, ornare sollicitudin lacus. Aliquam ipsum urna, semper quis.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="team-item">
                    <img src="assets/images/team_03.jpg" alt="">
                    <div class="down-content">
                        <h4 class="fs-4">Paul Walker</h4>
                        <span class="fs-6">Financial Analyst</span>
                        <p class="text-style">In sem sem, dapibus non lacus auctor, ornare sollicitudin lacus. Aliquam ipsum urna, semper quis.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{>index/statistic}}

{{>index/testimonials}}