<div class="more-info about-info">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="more-info-content">
                    <div class="row flex-column-reverse flex-md-row">
                        <div class="col-md-6 align-self-center">
                            <div class="right-content">
                                <span class="fs-6 mt-4 mt-md-0">Biz haqimizda qisqacha</span>
                                <h2 class="fs-1">Maktabimiz tarixi bilan <em>tanishib chiqing</em></h2>
                                <p class="text-style">
                                    Yertepa qishlog'ida birinchi maktab 1924-yilda Sulton qassobning mehmonxonasida Islom Badriddinov tomonidan tashkil etilgnan. Mazkur maktabning birinchi o'quvchilari Qurbon O'ljaboyev, Qayum Bozorov, Yusuf Ostonov, To'raqul Jo'rayevlar bo'lishgan. <br><br>

                                    1961-yilga kelib ota-onalar, o'qituvchilar va o'quvchilar kuchi bilan 490 o'rinli sakkiz yillik maktab binosi Murodulla Ochilov rahbarligida qurilgan
                                </p>
                                {{!-- <a href="" class="filled-button">Ko'proq o'qish</a> --}}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="left-image">
                                <img class="img-fluid" src="assets/images/about-image.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="team">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2 class="fs-1">Bizning <em>faxrimiz</em></h2>
                    <span class="fs-6">Maktabimiz faxrlarining kelajakdagi maqsadlari</span>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                <div class="team-item">
                    <img src="assets/images/team_01.jpg" alt="">
                    <div class="down-content">
                        <h4 class="fs-4">O'lmasjon Yuldoshev</h4>
                        <span class="fs-6">11-sinf o'quvchisi</span>
                        <p class="text-style">Dasturchi, ushbu vebsayt yaratuvchisi va bosh adminstratori. Maqsadim: Soham bo'yicha yuqori muvaffaqiyatlarga erishish</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-5 mb-md-0">
                <div class="team-item">
                    <img src="assets/images/team_02.jpg" alt="">
                    <div class="down-content">
                        <h4 class="fs-4">Jasmina Toshpo'latova</h4>
                        <span class="fs-6">11-sinf o'quvchisi</span>
                        <p class="text-style">IELTS'dan 5.5 va CEFR'dan B2 darajasidagi sertifikatlar sohibasi. Maqsadim: Yoshlarga chet tillarini o'rgatish</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="team-item">
                    <img src="assets/images/team_03.jpg" alt="">
                    <div class="down-content">
                        <h4 class="fs-4">Paul Walker</h4>
                        <span class="fs-6">Financial Analyst</span>
                        <p class="text-style">In sem sem, dapibus non lacus auctor, ornare sollicitudin lacus. Aliquam ipsum urna, semper quis.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{>index/statistic}}

{{>index/testimonials}}