<div class="contact-information">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="contact-item">
                    <i class="fa fa-phone"></i>
                    <h4 class="fs-4">Telefon</h4>
                    <p class="fs-6">Vivamus ut tellus mi. Nulla nec cursus elit, id vulputate nec cursus augue.</p>
                    <a class="fs-6" href="#">+998-90-123-45-67</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-md-0">
                <div class="contact-item">
                    <i class="fa fa-envelope"></i>
                    <h4 class="fs-4">Elektron pochta</h4>
                    <p class="fs-6">Vivamus ut tellus mi. Nulla nec cursus elit, id vulputate nec cursus augue.</p>
                    <a class="fs-6 text-uppercase" href="#">info@company.com</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-md-0">
                <div class="contact-item">
                    <i class="fa fa-map-marker"></i>
                    <h4 class="fs-4">Joylashuv</h4>
                    <p class="fs-6">Qashqadaryo, Qarshi tumani<br>19-maktab, Yertepa mahallasi</p>
                    <a class="fs-6 text-uppercase" href="https://goo.gl/maps/RGVNYvC9bdRanQpM6" target="_blank">Google xaritasida ko'rish</a>
                </div>
            </div>
        </div>
    </div>
</div>

{{>index/callback-form}}
{{>index/map}}