<div class="contact-information">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="contact-item">
                    <i class="fa-solid fa-phone"></i>
                    <h4 class="fs-4">Telefon</h4>
                    <p class="fs-6">Biz bilan bog'lanish uchun quyidagi raqamalarga murojaat qiling:</p>
                    <a class="fs-6" href="#">+998-90-123-45-67</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-md-0">
                <div class="contact-item">
                    <i class="fa-solid fa-envelope"></i>
                    <h4 class="fs-4">Elektron pochta</h4>
                    <p class="fs-6">Elektron pochta orqali ham biz bilan bog'lanishingiz mumkin</p>
                    <a class="fs-6 text-uppercase" href="#">info@company.com</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-md-0">
                <div class="contact-item">
                    <i class="fa-solid fa-location-dot"></i>
                    <h4 class="fs-4">Joylashuv</h4>
                    <p class="fs-6">Qashqadaryo viloyati, Qarshi tuman<br>19-maktab, Yertepa mahallasi</p>
                    <a class="fs-6 text-uppercase" href="https://goo.gl/maps/sRcNTpWwUN6AFN4R9" target="_blank">Google xaritasida ko'rish</a>
                </div>
            </div>
        </div>
    </div>
</div>

{{>index/callback-form}}
{{>index/map}}