<div class="main-banner header-text" id="top">
    <div class="Modern-Slider">
        <!-- Item -->
        <div class="item item-1">
            <div class="opacity z-1"></div>
            <div class="img-fill">
                <div class="text-content z-2">
                    <h6>Najot ta'limda</h6>
                    <h4>Qarshi tumani 19-maktab <br>Yertepa & Gulshan MFY</h4>
                    <p class="mb-5 text-style">
                        Qashqadaryo viloyati, Qarshi tumanidagi 19-umumiy o'rta ta'lim maktabining
                        rasmiy vebsayti.
                    </p>
                    <a href="/contact" class="filled-button mx-0">Bog'lanish</a>
                </div>
            </div>
            
        </div>
        <!-- // Item -->
        <!-- Item -->
        <div class="item item-2">
            <div class="opacity z-1"></div>
            <div class="img-fill">
                <div class="text-content z-2">
                    <h6>Najot ta'limda</h6>
                    <h4>Qarshi tumani 19-maktab <br>Yertepa & Gulshan MFY</h4>
                    <p class="mb-5 text-style">
                        Qashqadaryo viloyati, Qarshi tumanidagi 19-umumiy o'rta ta'lim maktabining
                        rasmiy vebsayti.
                    </p>
                    <a href="/contact" class="filled-button mx-0">Bog'lanish</a>
                </div>
            </div>
        </div>
        <!-- // Item -->
        <!-- Item -->
        <div class="item item-3">
            <div class="opacity z-1"></div>
            <div class="img-fill">
                <div class="text-content z-2">
                    <h6>Najot ta'limda</h6>
                    <h4>Qarshi tumani 19-maktab <br>Yertepa & Gulshan MFY</h4>
                    <p class="mb-5 text-style">
                        Qashqadaryo viloyati, Qarshi tumanidagi 19-umumiy o'rta ta'lim maktabining
                        rasmiy vebsayti.
                    </p>
                    <a href="/contact" class="filled-button mx-0">Bog'lanish</a>
                </div>
            </div>
        </div>
        <!-- // Item -->
    </div>
</div>

{{>index/blog}}

{{>index/statistic}}

<div class="more-info">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="more-info-content">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="left-image">
                                <img class="img-fluid" src="assets/images/more-info.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-6 align-self-center">
                            <div class="right-content">
                                <span class="fs-6">Haqida</span>
                                <h2 class="fs-1">Maktab haqida <em>ma'lumot</em></h2>
                                <p class="text-style">Curabitur pulvinar sem a leo tempus facilisis. Sed non sagittis neque. Nulla conse
                                    quat tellus nibh, id molestie felis sagittis ut. Nam ullamcorper tempus ipsum in
                                    cursus<br><br>Praes end at dictum metus. Morbi id hendrerit lectus, nec dapibus ex.
                                    Etiam ipsum quam, luctus eu egestas eget, tincidunt</p>
                                <a href="#" class="filled-button">Ko'proq o'qish</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{>index/testimonials}}

{{>index/callback-form}}