/* Set root variables */
:root {
	/* --default: #a4c639; */
	/* --default: #cc8e35; */
	/* --default: #fed330;  */
	--default: #009432;
	/* --default: #4cd137; */
	/* --default: #f1c40f; */
	/* --default-dark: rgb(41, 137, 16); */
}
::-webkit-scrollbar {
    display: none;
}

.form-control {
	transition: all ease-in-out 0.5s
}
.form-control:focus,
.form-focus {
	border-color: #00943192;
	box-shadow: 0 0 0 0.25rem #00d54776;
}
.form-error {
	border-color: rgb(255, 36, 36);
	box-shadow: 0 0 0 0.25rem #f6030368;
}
/* /Set root variables */

/* colors */
.bg-default {
	background: var(--default)!important;
}
.bg-default-dark {
	background: var(--default-dark)!important;
}
.text-default {
	color: var(--default)!important;
}
.text-default-dark {
	color: var(--default-dark)!important;
}
/* colors */

/* News and blog card responsive image */
.news-image-container {
	width: 100%;
	height: 400px;
	position: relative;
	overflow: hidden;
}
.news-image-container > img {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.blog-card {
	height: 465px;
}
.img-container {
	width: 100%;
	height: 200px;
	position: relative;
	overflow: hidden;
}
.img-container > img {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: all ease 0.2s;
}

.blog-card:hover img {
	transform: scale(110%);
}

@media (max-width: 1199px) {
	.blog-card {
		height: 490px;
	}
}
@media (max-width: 991.98px) {
	.news-image-container  {
		height: 300px;
	}
	.blog-card {
		height: 460px;
	}
}
@media (max-width: 767.98px) {
	.blog-card {
		height: 520px;
	}
	.img-container {
		height: 300px;
	}
}
@media (max-width: 575.98px) {
	/* .blog-card {
		height: px;
	} */
	.img-container {
		height: 300px;
	}
}
@media (max-width: 450px) {
	.news-image-container  {
		height: 260px;
	}
	.blog-card {
		height: 490px;
	}
	.img-container {
		height: 200px;
	}
}
/* /News and blog card responsive image */

/* Button components */
a.filled-button,
button.filled-button {
	background-color: var(--default);
	color: #fff;
	font-size: 1rem;
	text-transform: uppercase;
	font-weight: 700;
	padding: 12px 30px;
	border-radius: 30px;
	display: inline-block;
	transition: all 0.3s;
}

a.filled-button:hover,
button.filled-button:hover {
	background-color: #fff;
	color: var(--default);
}

a.border-button,
button.border-button {
	background-color: transparent;
	color: #fff;
	border: 2px solid #fff;
	font-size: 1rem;
	text-transform: uppercase;
	font-weight: 700;
	padding: 10px 28px;
	border-radius: 30px;
	display: inline-block;
	transition: all 0.3s;
}

a.border-button:hover,
button.border-button:hover {
	background-color: #fff;
	color: var(--default);
}
/* /Button components */

/* ------------------ */

/* Form component */
input.form-input {
	border-radius: 20px;
	height: 40px;
	line-height: 40px;
	display: inline-block;
	padding: 0px 15px;
	color: #6a6a6a;
	font-size: 13px;
	text-transform: none;
	box-shadow: none;
	border: none;
	margin-bottom: 35px;
}

input.form-input:focus {
	outline: none;
	box-shadow: none;
	border: none;
}

textarea.form-textarea {
	border-radius: 20px;
	height: 120px;
	max-height: 200px;
	min-height: 120px;
	display: inline-block;
	padding: 15px;
	color: #6a6a6a;
	font-size: 13px;
	text-transform: none;
	box-shadow: none;
	border: none;
	margin-bottom: 35px;
}

textarea.form-textarea:focus {
	outline: none;
	box-shadow: none;
	border: none;
}

input.form-input::-webkit-input-placeholder,
textarea.form-textarea::-webkit-input-placeholder { /* Edge */
  color: #aaa;
}
input.form-input :-ms-input-placeholder,
textarea.form-textarea :-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #aaa;
}
input.form-input ::placeholder,
textarea.form-textarea ::placeholder {
  color: #aaa;
}
/* /Form component */

/* ------------------ */

