<div class="callback-form {{#if isContact}}contact-us{{/if}}">
    <div class="container">
        <div class="row juftify-content-center">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2 class="fs-1">Bizga xabar <em>yuboring</em></h2>
                    <span class="fs-6">MARHAMAT FIKRINGIZNI QOLDIRING. FIKRINGIZ BIZ UCHUN MUHIM</span>
                </div>
            </div>
            <div class="col-12" id="resp-render-cb"></div>
            <div class="col-md-12">
                <div class="contact-form p-4 p-md-5">
                    <form id="contact-cb">
                        <div class="row">
                            <div class="col-lg-4 col-md-12 col-sm-12">
                                <fieldset>
                                    <input
                                        name="name"
                                        type="text"
                                        class="form-control
                                        form-input fs-6"
                                        id="name-cb"
                                        placeholder="Ismingiz"
                                        {{!-- value="{{sessionData.name}}" --}}
                                    />
                                </fieldset>
                            </div>
                            <div class="col-lg-4 col-md-12 col-sm-12">
                                <fieldset>
                                    <input
                                        name="email"
                                        type="text"
                                        class="form-control form-input fs-6"
                                        id="email-cb"
                                        pattern="[^ @]*@[^ @]*"
                                        placeholder="Elektron pochta"
                                        {{!-- value="{{sessionData.email}}" --}}
                                    />
                                </fieldset>
                            </div>
                            <div class="col-lg-4 col-md-12 col-sm-12">
                                <fieldset>
                                    <input
                                        name="subject"
                                        type="text"
                                        class="form-control form-input fs-6"
                                        id="subject-cb"
                                        placeholder="Mavzu"
                                        {{!-- value="{{sessionData.subject}}" --}}
                                    />
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <textarea
                                        name="message"
                                        rows="6"
                                        class="form-control form-textarea fs-6"
                                        id="message-cb"
                                        placeholder="Xabaringiz"></textarea>
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <button type="submit" id="form-submit" class="{{#if isContact}}filled-button{{else}}border-button{{/if}}">Xabar yuborish</button>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<script type="module">
    import sendMessage from '/assets/js/sendMessage.js'

    const formCb = document.getElementById('contact-cb')
    const respRenderCb = document.getElementById('resp-render-cb')

    formCb.addEventListener('submit', async (e) => {
        e.preventDefault()
        
        const nameCb = document.getElementById('name-cb').value
        const emailCb = document.getElementById('email-cb').value
        const subjectCb = document.getElementById('subject-cb').value
        const messageCb = document.getElementById('message-cb').value
        
        const send = await sendMessage('/sendMessage', {
            name: nameCb,
            email: emailCb,
            subject:
            subjectCb,
            message: messageCb
        })
        const resp = await send.json()

        if (resp.ok) {
            respRenderCb.innerHTML = `<div class="alert alert-success">${resp.message}</div>`
            formCb.reset()
        } else {
            respRenderCb.innerHTML = `<div class="alert alert-danger">${resp.message}</div>`
        }
        setTimeout(() => respRenderCb.innerHTML = '', 5000)
    })

</script>