<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 footer-item">
                <h4 class="fs-4"> <i class="fa-solid fa-location-dot"></i> Bizning manzil</h4>
                <p class="fs-6">
                    Qashqadaryo viloyati, Qarshi tumani Yertepa mahallasi, Amir Temur ko'chasi. 19-maktab
                </p>
                <ul class="social-icons">
                    <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-behance"></i></a></li>
                </ul>
            </div>
            {{!-- <div class="col-md-3 footer-item">
                <h4>Useful Links</h4>
                <ul class="menu-list">
                    <li><a href="#">Vivamus ut tellus mi</a></li>
                    <li><a href="#">Nulla nec cursus elit</a></li>
                    <li><a href="#">Vulputate sed nec</a></li>
                    <li><a href="#">Cursus augue hasellus</a></li>
                    <li><a href="#">Lacinia ac sapien</a></li>
                </ul>
            </div> --}}
            <div class="col-md-4 footer-item">
                <h4 class="fs-4">Sahifalar</h4>
                <ul class="menu-list">
                    <li><a class="fs-6" href="/">Bosh sahifa</a></li>
                    <li><a class="fs-6" href="/about">Maktabimiz haqida</a></li>
                    <li><a class="fs-6" href="/news">Yangiliklar</a></li>
                    <li><a class="fs-6" href="/contact">Bog'lanish</a></li>
                </ul>
            </div>
            <div class="col-md-4 footer-item last-item">
                <h4 class="fs-4">Bizga Xabar qoldiring</h4>
                <div class="contact-form">
                    <form id="footer-contact">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <fieldset>
                                    <input
                                        name="name"
                                        type="text"
                                        class="form-control  fs-6"
                                        id="nameFr"
                                        placeholder="Ismingiz"
                                    />
                                </fieldset>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <fieldset>
                                    <input
                                        name="email"
                                        type="text"
                                        class="form-control  fs-6"
                                        id="emailFr"
                                        pattern="[^ @]*@[^ @]*"
                                        placeholder="Elektron pochta"
                                    />
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <textarea
                                        name="message"
                                        rows="6"
                                        class="form-control fs-6"
                                        id="messageFr"
                                        placeholder="Xabaringiz"></textarea>
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <button type="submit" id="form-submit" class="filled-button">Xabar yuborish</button>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</footer>

<script type="module">
    import sendMessage from '/assets/js/sendMessage.js'

    const footerContactForm = document.getElementById('footer-contact')

    footerContactForm.addEventListener('submit', async (e) => {
        e.preventDefault()
        
        const nameFr = document.getElementById('nameFr').value
        const emailFr = document.getElementById('emailFr').value
        const messageFr = document.getElementById('messageFr').value

        const send = await sendMessage('/sendMessage', {
            name: nameFr,
            email: emailFr,
            subject: "Kiritilmagan",
            message: messageFr
        })
        const resp = await send.json()
        if (resp.ok) {
            alert(resp.message)
            footerContactForm.reset()
            return
        }
        alert(resp.message)
    })
</script>