<div class="fun-facts">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="left-content">
                    <span class="fs-6">Qisqa statistika</span>
                    <h2 class="fs-1">Maktabimizdagi <em>qaynoq statistikalar</em> bilan tanishib chiqing</h2>
                    <p class=" text-style">Pellentesque ultrices at turpis in vestibulum. Aenean pretium elit nec congue elementum. Nulla
                        luctus laoreet porta. Maecenas at nisi tempus, porta metus vitae, faucibus augue.
                        <br><br>Fusce et venenatis ex. Quisque varius, velit quis dictum sagittis, odio velit molestie
                        nunc, ut posuere ante tortor ut neque.
                    </p>
                    <a href="" class="filled-button">Ko'proq o'qish</a>
                </div>
            </div>
            <div class="col-md-6 align-self-center">
                <div class="row">
                    <div class="col-md-6">
                        <div class="count-area-content">
                            <div class="count-digit">945</div>
                            <div class="count-title">O'qituvchilar</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="count-area-content">
                            <div class="count-digit">1280</div>
                            <div class="count-title">O'quvchilar</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="count-area-content">
                            <div class="count-digit">578</div>
                            <div class="count-title">Faol o'quvchilar</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="count-area-content">
                            <div class="count-digit">26</div>
                            <div class="count-title">Psixologlar</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>