<div class="sub-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="fs-6">
                    Shu kabi vebsaytlar kerak bo'lsa menga murojaat qiling
                    —
                    Copyright &copy; 2023 <a class="text-success" href="http://t.me/yuldoshev_uz" target="_blank">O'lmasjon Yuldoshev</a>
                </p>
            </div>
        </div>
    </div>
</div>