<div class="sub-header">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-xs-12">
                <ul class="left-info">
                    <li><a class="fs-6" href="#"><i class="fa fa-clock-o"></i>Dush-Shan 08:00-17:00</a></li>
                    <li><a class="fs-6" href="#"><i class="fa fa-phone"></i>+998-90-123-45-67</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="right-icons">
                    <li><a class="fs-6" href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="fs-6" href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="fs-6" href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a class="fs-6" href="#"><i class="fa fa-behance"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>